<div class="container formBuilder">
  <div class="row">
    <div class="col-sm-8">
      <form [formGroup]="formBuilder" (ngSubmit)="submit()">
        <div class="form-control" *ngFor="let item of fields">
          <div class="control" *ngIf="item.formControl == 'input'">
            <div>{{item.label}}</div>
            <input [type]="item.type" [name]="item.name" [formControlName]="item.name"/>
          </div>
          <div class="control" *ngIf="item.formControl=='checkbox'">
            <input type="checkbox" [name]="item.name" [id]="item.id" [value]="item.label" [formControlName]="item.name"/>
            {{item.label}}
          </div>
          <div class="control" *ngIf="item.formControl=='radio'">
            <input type="radio" [name]="item.name" [id]="item.id" [value]="item.label" [formControlName]="item.name"/>
            {{item.label}}
          </div>
          <div class="control" *ngIf="item.formControl=='dropdown'">
            <select [name]="item.name" [id]="item.id" [formControlName]="item.name">
              <option [value]="drp.name" *ngFor="let drp of item.list">{{drp.name}}</option>
            </select>
          </div>
          <div class="control" *ngIf="item.formControl=='cancel'">
            <input type="button" [name]="item.name" [id]="item.id" [value]="item.label"
            (click)="cancel()" />
          </div>
          <div class="control" *ngIf="item.formControl=='submit'">
            <input type="submit" [name]="item.name" [id]="item.id" [value]="item.label" />
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <div class="err-msg" *ngIf="errorMessage">{{errorMessage}}</div>
      <div class="json-container">
        <form [formGroup]="textAreaForm">
          <textarea name="textArea" id="" cols="70" rows="20" formControlName="textArea"
            (ngModelChange)="change()"></textarea>
        </form>
        <div>
          {{TextArea.value}}
        </div>
      </div>
    </div>
  </div>
</div>